<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:600i|Lato:300,400" rel="stylesheet">

        <link rel="stylesheet" href="/style.css">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        
        <title>B&amp;B Demo - Rooms rental website</title>
    </head>
    <body>
    
    <main>
        <section class="surr__article container">
            <h3 class="surr__header header3">
                404 - File not found
            </h3>
            <p class="surr__text header4">
                You will be redirected in 5 seconds
            </p>
        </section>
    </main>
    
<script>
  setTimeout(function () {
     window.location = "/";
  }, 5000)
</script>
