<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script>
        function showPage(){document.documentElement.className=document.documentElement.className.replace("js-loading","")}document.documentElement.className+=" js-loading",window.addEventListener("load",showPage)
        </script>
        
        <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:600i|Lato:300,400" rel="stylesheet">

        <link rel="stylesheet" href="/style.css">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        
        <title>B&amp;B Demo - Rooms rental website</title>
    </head>
    <body>
        <div class="intro">
            <div class="intro__container">
                <div class="intro__logo">
                    <img src="img/logo.svg" alt="Residence Logo">
                </div>
                <div class="intro__text">
                    <h4 class="header4">
                        Residence Ridolfi - Naples
                    </h4>
                </div>
            
                <div class="intro__lang">
                    <a href="/ita/index" class="link link-rotate intro__ita">
                        <span>I</span>
                        <span>T</span>
                        <span>A</span>
                        <span>L</span>
                        <span>I</span>
                        <span>A</span>
                        <span>N</span>
                        <span>O</span>
                    </a>   
                    <a href="/eng/index" class="link link-rotate intro__eng">
                        <span>E</span>
                        <span>N</span>
                        <span>G</span>
                        <span>L</span>
                        <span>I</span>
                        <span>S</span>
                        <span>H</span>
                    </a>   
                </div>
            </div>   
        </div>
    </body>