<% include partials/header %>

<main>
            <section class="jumbotron">
                <div class="main-carousel" data-flickity='{ "autoPlay": 5500, "draggable": false , "wrapAround": true }'>
                    <div class="carousel-cell">
                        <img srcset="../../img/carousel1-small.jpg 1000w, ../../img/carousel1.jpg 3500w" alt="Carousel Image 1"
                            sizes="(min-width: 10em) 100vw, 1000px" 
                            src="../../img/carousel1.jpg">
                    </div>
                    <div class="carousel-cell">
                        <img srcset="../../img/carousel2-small.jpg 1000w, ../../img/carousel2.jpg 3500w" alt="Carousel Image 2"
                            sizes="(min-width: 10em) 100vw, 1000px" 
                            src="../../img/carousel2.jpg">
                    </div>
                    <div class="carousel-cell">
                        <img srcset="../../img/carousel3-small.jpg 1000w, ../../img/carousel3.jpg 3500w" alt="Carousel Image 3"
                            sizes="(min-width: 10em) 100vw, 1000px" 
                            src="../../img/carousel3.jpg">
                    </div>
                </div>

                <div class="jumbotron__overlay">
                    <div class="jumbotron__text container">
                        <div class="jumbotron__header header1">
                            Ridolfi Residence
                        </div>
                        <div class="jumbotron__header-2 header2">
                            Top-level choice
                        </div>
                    </div>
                </div>
            </section>

            <section class="history container">
                <div class="history__header">
                    <h6 class="history__header6 header6">About us</h6>
                    <h3 class="header3">Residence History</h3>
                    <p class="history__text header4">Two regions merge into one world in the landscape that you can enjoy from here and the two apartments, called Raffaello and Leonardo, the memento of an ancient language used by local farmers, have been restored with the utmost respect of materials and local traditions. 
                    The excellent geographical location of Ridolfi Residence allows our guests to easily visit historical and beautiful places.</p>
                </div>

                <div class="history__places">

                    <a href="/eng/residence" class="history__place">
                        <img srcset="../../img/residence-small.jpg 750w, ../../img/residence.jpg 1200w" alt="Residence Image"
                            sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px" 
                            src="../../img/residence.jpg">
                        <div class="history__place__header header6">
                            The residence
                        </div>
                        <div class="history__place__title header3">
                            Ridolfi
                        </div>
                        <p class="history__place__text header6">
                        The Residence, a possession of the Church until 1860, acquired by the Ridolfi family, became a farmhouse and today it is a place of rest and serenity for those who want to relax their mind and their eyes.
                        </p>
                    </a>

                    <a href="/eng/rooms" class="history__place">
                        <img srcset="../../img/room1-small.jpg 750w, ../../img/room1.jpg 1200w" alt="Room 1 Image"
                            sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px" 
                            src="../../img/room1.jpg">
                        <div class="history__place__header header6">
                            The apartments
                        </div>
                        <div class="history__place__title header3">
                            Raffaello's
                        </div>
                        <p class="history__place__text header6">
                        The Raffaello's, name due to the great painter of the Reinnassance, is a house on two levels with four beds and direct access to the garden.
                        </p>
                    </a>

                    <a href="/eng/rooms" class="history__place">
                        <img srcset="../../img/room2-small.jpg 750w, ../../img/room2.jpg 1200w" alt="Room 2 Image"
                            sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px" 
                            src="../../img/room2.jpg">
                        <div class="history__place__header header6">
                            The apartments
                        </div>
                        <div class="history__place__title header3">
                            Leonardo's
                        </div>
                        <p class="history__place__text header6">
                        The Leonardo's, which owes its name to the world greatest genius, is a house on one level which is accessed by a wide staircase and it has eight beds.
                        </p>
                    </a>
                </div>
            </section>

            <section class="parallax parallax-index">
                <div class="parallax-index__text container">
                    <h2 class="header2 parallax-index__text">
                        "Sea is streetless, Sea is reasonless"<br>Alessandro Baricco
                    </h2>
                </div>
            </section>

            <section class="history container">
                <div class="history__header">
                    <h3 class="header3">Our surroundings</h3>
                    <p class="history__text header4">Our fortunate location allows our guests to easily enjoy the beauties of three regions, from Naples jewels to other gems of art and culture are readily accessible.</p>
                </div>

                <div class="history__places">
                    <a href="/eng/surroundings" class="history__place history__place-around">
                        <img srcset="../../img/surr1-small.jpg 750w, ../../img/surr1.jpg 1200w" alt="Surroundings Img 1"
                            sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px" 
                            src="../../img/surr1.jpg">
                        <div class="history__place__title header3">
                            Napoli
                        </div>
                    </a>   
                    <a href="/eng/surroundings" class="history__place history__place-around">
                        <img srcset="../../img/surr2-small.jpg 750w, ../../img/surr2.jpg 1200w" alt="Surroundings Img 2"
                            sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px" 
                            src="../../img/surr2.jpg">
                        <div class="history__place__title header3">
                            Amalfi
                        </div>
                    </a>   
                    <a href="/eng/surroundings" class="history__place history__place-around">
                        <img srcset="../../img/surr3-small.jpg 750w, ../../img/surr3.jpg 1200w" alt="Surroundings Img 3"
                            sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px" 
                            src="../../img/surr3.jpg">
                        <div class="history__place__title header3">
                            Capri
                        </div>
                    </a> 
                    <a href="/eng/surroundings" class="history__place history__place-around">
                        <img srcset="../../img/surr4-small.jpg 750w, ../../img/surr4.jpg 1200w" alt="Surroundings Img 4"
                            sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px" 
                            src="../../img/surr4.jpg">
                        <div class="history__place__title header3">
                            Posillipo
                        </div>
                    </a> 
                    <a href="/eng/surroundings" class="history__place history__place-around">
                        <img srcset="../../img/surr5-small.jpg 750w, ../../img/surr5.jpg 1200w" alt="Surroundings Img 5"
                            sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px" 
                            src="../../img/surr5.jpg">
                        <div class="history__place__title header3">
                            Caserta
                        </div>
                    </a> 
                    <a href="/eng/surroundings" class="history__place history__place-around">
                        <img srcset="../../img/surr6-small.jpg 750w, ../../img/surr6.jpg 1200w" alt="Surroundings Img 6"
                            sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px" 
                            src="../../img/surr6.jpg">
                        <div class="history__place__title header3">
                            Pompei
                        </div>
                    </a>                                                                                                                     
                </div>
            </section>

            <section class="cta container">
                <div class="cta__content">
                    <div class="header4 cta__header">
                        Contact us for further information
                    </div>
                    <div class="cta__link">
                        <a href="/eng/contacts" class="link link-rotate link-rotate-black cta__text">
                            <span>C</span>
                            <span>O</span>
                            <span>N</span>
                            <span>T</span>
                            <span>A</span>
                            <span>C</span>
                            <span>T</span>
                        </a> 
                    </div>
                </div>
            </section>

       </main>

<% include partials/footer %>