<% include partials/header %>

<main>
<section class="jumbotron jumbotron-residence container">
    <div class="main-carousel residence-carousel" data-flickity='{ "autoPlay": 5500, "draggable": false , "wrapAround": true }'>
        <div class="carousel-cell">
            <img srcset="/img/residence1-small.jpg 1000w, /img/residence1.jpg 2000w" alt="Residence Carousel Image 1"
                sizes="(min-width: 10em) 100vw, 1000px" 
                src="/img/residence1.jpg">
        </div>
        <div class="carousel-cell">
            <img srcset="/img/residence2-small.jpg 1000w, /img/residence2.jpg 2000w" alt="Residence Carousel Image 2"
                sizes="(min-width: 10em) 100vw, 1000px" 
                src="/img/residence2.jpg">
        </div>
        <div class="carousel-cell">
            <img srcset="/img/residence3-small.jpg 1000w, /img/residence3.jpg 2000w" alt="Residence Carousel Image 3"
                sizes="(min-width: 10em) 100vw, 1000px" 
                src="/img/residence3.jpg">
        </div>
        <div class="carousel-cell">
            <img srcset="/img/residence4-small.jpg 1000w, /img/residence4.jpg 2000w" alt="Residence Carousel Image 4"
                sizes="(min-width: 10em) 100vw, 1000px" 
                src="/img/residence4.jpg">
        </div>
        <div class="carousel-cell">
            <img srcset="/img/residence5-small.jpg 1000w, /img/residence5.jpg 2000w" alt="Residence Carousel Image 5"
                sizes="(min-width: 10em) 100vw, 1000px" 
                src="/img/residence5.jpg">
        </div>
        <div class="carousel-cell">
            <img srcset="/img/residence6-small.jpg 1000w, /img/residence6.jpg 2000w" alt="Residence Carousel Image 6"
                sizes="(min-width: 10em) 100vw, 1000px" 
                src="/img/residence6.jpg">
        </div>
    </div>

    <div class="carousel-nav" data-flickity='{"asNavFor": ".main-carousel", "draggable": true, "contain": true, "pageDots": false, "prevNextButtons": false }'>
        <div class="carousel-cell">
            <img src="/img/residence1-small.jpg" alt="Nav Carousel Img 1">
        </div>
        <div class="carousel-cell">
            <img src="/img/residence2-small.jpg" alt="Nav Carousel Img 2">
        </div>
        <div class="carousel-cell">
            <img src="/img/residence3-small.jpg" alt="Nav Carousel Img 3">
        </div>
        <div class="carousel-cell">
            <img src="/img/residence4-small.jpg" alt="Nav Carousel Img 4">
        </div>
        <div class="carousel-cell">
            <img src="/img/residence5-small.jpg" alt="Nav Carousel Img 5">
        </div>
        <div class="carousel-cell">
            <img src="/img/residence6-small.jpg" alt="Nav Carousel Img 6">
        </div>
    </div>
</section>

<section>
    <div class="history history__header container">
        <h3 class="header3">The residence</h3>
        <p class="history__place__text header6">At one of the fully green mountainsides, you will find Rifoldi Residence, 200 meters far from the beach of Naples and 1 Km from the center of the city. Although it looks like it is not further than 120 meters, because of its height!
            Here is the place of a landscape, unlike any other, that singularly combines the green of the woods and the mountains with the blue of the sea and the sky. It is located on the central west side of the beautiful and majestic Naples seashore.</p>
    </div>
</section>

</main>

<% include partials/footer %>