<% include partials/header %>

<main>
<section class="jumbotron jumbotron-residence container">
    <div class="grid--rooms">
        <div class="main-carousel residence-carousel" data-flickity='{ "wrapAround": true, "autoPlay": 5500, "draggable": false  }'>
            <div class="carousel-cell">
                <img srcset="/img/rooms1-small.jpg 1000w, /img/rooms1.jpg 2000w" alt="Rooms Carousel Image 1"
                    sizes="(min-width: 10em) 100vw, 1000px" 
                    src="/img/rooms1.jpg">
            </div>
            <div class="carousel-cell">
                <img srcset="/img/rooms2-small.jpg 1000w, /img/rooms2.jpg 2000w" alt="Rooms Carousel Image 2"
                    sizes="(min-width: 10em) 100vw, 1000px" 
                    src="/img/rooms2.jpg">
            </div>
            <div class="carousel-cell">
                <img srcset="/img/rooms3-small.jpg 1000w, /img/rooms3.jpg 2000w" alt="Rooms Carousel Image 3"
                    sizes="(min-width: 10em) 100vw, 1000px" 
                    src="/img/rooms3.jpg">
            </div>
            <div class="carousel-cell">
                <img srcset="/img/rooms4-small.jpg 1000w, /img/rooms4.jpg 2000w" alt="Rooms Carousel Image 4"
                    sizes="(min-width: 10em) 100vw, 1000px" 
                    src="/img/rooms4.jpg">
            </div>
            <div class="carousel-cell">
                <img srcset="/img/rooms5-small.jpg 1000w, /img/rooms5.jpg 2000w" alt="Rooms Carousel Image 5"
                    sizes="(min-width: 10em) 100vw, 1000px" 
                    src="/img/rooms5.jpg">
            </div>
        </div>

        <div class="history">
            <h3 class="header3">The rooms</h3>
            <p class="history__place__text header6">Today, the Rifoldi's keeps many apartments. All of them have a characteristic marvelous view of the sea, the mountains and the beaches from their private balcony. Additionally, the rooms have a private bathroom, kitchen fully equipped, refrigerator, hot plate, air conditioning, safe box and phone.</p>
            <h4 class="header4 history__place__text">Services</h4>
            <p class="history__place__text header6">Free parking area<br>Free WiFi at the common areas<br>Laundry<br>Scooter and car hire<br>Excursions – tours<br>Wake up service</p>
        </div>
    </div>  
</section>

<section class="parallax parallax--pet parallax-index">
    <div class="parallax-index__text container">
        <h2 class="header2 parallax-index__text">
            - Animals allowed -<br>We would like to know in advance if you want the company of your little friends
        </h2>
    </div>
</section>       

<section class="container">
    <div class="history">
        <h3 class="header3">Check our prices</h3>
        <h6 class="history__place__text header6" style="color: firebrick">Usually rents are intended from Sunday to Sunday.<br>For shorter or longer stays please contact us</h6>
    </div>
    <div class="grid--prices">
        <div class="grid--prices__price">
            <h3 class="grid--prices__price__header header1">LOW SEASON</h3>
            <h3 class="grid--prices__price__text header6">January - February - March - April</h3>
            <h3 class="grid--prices__price__text header6">November - December</h3>
            <h3 class="grid--prices__price__cost header2"><span style="color: black">€</span>700</h3>
        </div>
        <div class="grid--prices__price">
            <h3 class="grid--prices__price__header header1">MID SEASON</h3>
            <h3 class="grid--prices__price__text header6">May</h3>
            <h3 class="grid--prices__price__text header6">September - October</h3>
            <h3 class="grid--prices__price__cost header2"><span style="color: black">€</span>1000</h3>
        </div>
        <div class="grid--prices__price">
            <h3 class="grid--prices__price__header header1">HIGH SEASON</h3>
            <h3 class="grid--prices__price__text header6">June</h3>
            <h3 class="grid--prices__price__text header6">July - August</h3>
            <h3 class="grid--prices__price__cost header2"><span style="color: black">€</span>1300</h3>
        </div>
    </div>
</section>

<section class="cta container">
    <div class="cta__content">
        <div class="header4 cta__header">
            Contact us for further information
        </div>
        <div class="cta__link">
            <a href="/eng/contacts" class="link link-rotate link-rotate-black cta__text">
                <span>C</span>
                <span>O</span>
                <span>N</span>
                <span>T</span>
                <span>A</span>
                <span>C</span>
                <span>T</span>
            </a> 
        </div>
    </div>
</section>
</main>

<% include partials/footer %>