<% include partials/header %>

<main>
            <section class="surr__article container">
                <h3 class="surr__header header3">
                    Our surroundings
                </h3>
                <p class="surr__text header4">
                    Our fortunate location allows our guests to easily enjoy the beauties of Naples region, from Amalfi's astonishing shores to other small gems of art and culture are readily accessible.
                </p>
            </section>
            
            <section class="history__places surr__places container">
                <div class="history__place surr__place">
                    <img data-src="/img/surr1.jpg" data-srcset="/img/surr1-small.jpg 750w, /img/surr1.jpg 1200w" alt="Surroundings Image 1"
                        sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px"/>
                    <div class="history__place__title header3">
                        Napoli
                    </div>
                    <p class="history__place__text header6">
                        The Neapolitans are passionate about their home town, and with good reason. Beyond the tired clichés – pizza, mobsters and handbag snatchers – is a warm, vital and often beautiful city. Churches, palaces and castles from its heyday as capital of the Bourbon Kingdom of Naples mingle with world-class galleries, museums and archaeological sites.
                        Then there are the views. Head upwards from the old quarter's narrow lanes and the seaside city, all earthy tones and palm trees in the shadow of brooding Vesuvius, is at your feet, with the Bay of Naples beyond.
                    </p>
                    <div class="cta__link">
                        <a href="#" target="_blank" class="link link-rotate link-rotate-black cta__text surr__btn">
                            <span>I</span>
                            <span>N</span>
                            <span>F</span>
                            <span>O</span>
                        </a> 
                    </div>
                </div>
                <div class="history__place surr__place">
                    <img data-src="/img/surr2.jpg" data-srcset="/img/surr2-small.jpg 750w, /img/surr2.jpg 1200w" alt="Surroundings Image 2"
                        sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px"/>
                    <div class="history__place__title header3">
                        Amalfi
                    </div>
                    <p class="history__place__text header6">
                        The Amalfi Coast is one of the most splendidly beautiful--and historically significant--areas in Italy. The area is comprised of the southern coast of the Sorrentine Peninsula, south of Naples and part of the province of Salerno. In the northern coast we find the town of Sorrento, from which the Peninsula derives its name, and along the southern coast we find the region's main towns of Positano, Ravello, Atrani, and Amalfi. The island of Capri, located nearby in the Bay of Naples, is also considered part of the Amalfi Coast.
                    </p>
                    <div class="cta__link">
                        <a href="#" target="_blank" class="link link-rotate link-rotate-black cta__text surr__btn">
                            <span>I</span>
                            <span>N</span>
                            <span>F</span>
                            <span>O</span>
                        </a> 
                    </div>
                </div>
                <div class="history__place surr__place">
                    <img data-src="/img/surr3.jpg" data-srcset="/img/surr3-small.jpg 750w, /img/surr3.jpg 1200w" alt="Surroundings Image 3"
                        sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px"/>
                    <div class="history__place__title header3">
                        Capri
                    </div>
                    <p class="history__place__text header6">
                        The Isle of Capri is famed as a classy and beautiful holiday destination. It's an island of myths, ranging through sirens charming seafarers, ancient Roman orgies, dreamy seaviews, 1950s celebrities in big sunglasses, and lazy summer evenings spent browsing in exclusive boutiques alongside the world's elite.
                        Capri is an island of many contrasts. For rushed daytrippers, it is a crowded maze of expensive boutiques. For celebrities and the ultra-rich, a point of rendezvous. For historians, it is the palace-island of the Emperor Tiberius, dotted with neglected Roman remains. Walkers can step out along scenic short walks. For leisurely holidaymakers, it can present all this and more, along with staggering views and blue, blue sea. It is a dream honeymoon destination.
                    </p>
                    <div class="cta__link">
                        <a href="#" target="_blank" class="link link-rotate link-rotate-black cta__text surr__btn">
                            <span>I</span>
                            <span>N</span>
                            <span>F</span>
                            <span>O</span>
                        </a> 
                    </div>
                </div>
                <div class="history__place surr__place">
                    <img data-src="/img/surr4.jpg" data-srcset="/img/surr4-small.jpg 750w, /img/surr4.jpg 1200w" alt="Surroundings Image 4"
                        sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px"/>
                    <div class="history__place__title header3">
                        Posillipo
                    </div>
                    <p class="history__place__text header6">
                        Posillipo is a residential quarter of Naples, southern Italy, located along the northern coast of the Gulf of Naples; it is called Pusilleco in the Neapolitan language.
                        From the 1st century BC the Bay of Naples witnessed the rise of villas constructed by elite Romans along the most panoramic points of the coast, who had chosen the area as a favourite vacation spot. The remains of some of these can be seen today in the archaeological park and elsewhere.The houses at water's edge all have at least small piers or landings, and there are even a few small coves with breakwaters along the way. These small harbors are the nuclei for separate, named communities such as Gaiola and Marechiaro, with the characteristic "Large rock".
                    </p>
                    <div class="cta__link">
                        <a href="#" target="_blank" class="link link-rotate link-rotate-black cta__text surr__btn">
                            <span>I</span>
                            <span>N</span>
                            <span>F</span>
                            <span>O</span>
                        </a> 
                    </div>
                </div>
                <div class="history__place surr__place">
                    <img data-src="/img/surr5.jpg" data-srcset="/img/surr5-small.jpg 750w, /img/surr5.jpg 1200w" alt="Surroundings Image 5"
                        sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px"/>
                    <div class="history__place__title header3">
                        Caserta
                    </div>
                    <p class="history__place__text header6">
                        The Royal Palace of Caserta is a former royal residence in Caserta, southern Italy, constructed for the Bourbon kings of Naples. It is one of the largest palaces erected in Europe during the 18th century. In 1997, the palace was designated a UNESCO World Heritage Site; its nomination described it as "the swan song of the spectacular art of the Baroque, from which it adopted all the features needed to create the illusions of multidirectional space". In terms of volume, the Royal Palace of Caserta is the largest royal residence in the world with over 2 million m³ and covering an area of about 235,000 m².
                    </p>
                    <div class="cta__link">
                        <a href="#" target="_blank" class="link link-rotate link-rotate-black cta__text surr__btn">
                            <span>I</span>
                            <span>N</span>
                            <span>F</span>
                            <span>O</span>
                        </a> 
                    </div>
                </div>
                <div class="history__place surr__place">
                    <img data-src="/img/surr6.jpg" data-srcset="/img/surr6-small.jpg 750w, /img/surr6.jpg 1200w" alt="Surroundings Image 6"
                        sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px"/>
                    <div class="history__place__title header3">
                        Pompei
                    </div>
                    <p class="history__place__text header6">
                        Pompeii was an ancient Roman town-city near modern Naples, in the Campania region of Italy, in the territory of the comune of Pompei. Pompeii, along with Herculaneum and many villas in the surrounding area, was mostly destroyed and buried under 4 to 6 m (13 to 20 ft) of volcanic ash and pumice in the eruption of Mount Vesuvius in AD 79. Pompeii has been a tourist destination for over 250 years. Today it has UNESCO World Heritage Site status and is one of the most popular tourist attractions in Italy, with approximately 2.5 million visitors every year.
                    </p>
                    <div class="cta__link">
                        <a href="#" target="_blank" class="link link-rotate link-rotate-black cta__text surr__btn">
                            <span>I</span>
                            <span>N</span>
                            <span>F</span>
                            <span>O</span>
                        </a> 
                    </div>
                </div>
            </section>
       </main>

<% include partials/footer %>