<% include partials/header %>

<main>
<section class="contacts container">
    <div class="contacts__content">
        <h3 class="contacts__header header3">PER OGNI RICHIESTA ED INFORMAZIONE:<br></h3>
        <a href="mailto:info@rifoldires.it" class="contacts__text header3">info@rifoldires.it<br></a>
        <a href="tel:081334455" class="contacts__text header3">081 33 44 55</a>
        <div class="contacts__img">
            <img srcset="/img/contact-small.jpg 600w, /img/contact.jpg 1200w" alt="Contact Image"
            sizes="(max-width: 62.4em) 75vw, (min-width: 62.5em) 33vw, 350px" 
            src="/img/contact.jpg">
        </div>
    </div>
    <div class="contacts__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3020.4443273762186!2d14.19108321482679!3d40.796228840396296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133b0bff58332e73%3A0x73afffcad651caeb!2sVia+Marechiaro%2C+117%2C+80123+Napoli+NA!5e0!3m2!1sit!2sit!4v1525684777726" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>
</main>

<% include partials/footer %>