<% include partials/header %>

<main>
            <section class="jumbotron">
                <div class="main-carousel" data-flickity='{ "autoPlay": 5500, "draggable": false , "wrapAround": true }'>
                    <div class="carousel-cell">
                        <img srcset="/img/carousel1-small.jpg 1000w, /img/carousel1.jpg 3500w" alt="Carousel Image 1"
                            sizes="(min-width: 10em) 100vw, 1000px" 
                            src="/img/carousel1.jpg">
                    </div>
                    <div class="carousel-cell">
                        <img srcset="/img/carousel2-small.jpg 1000w, /img/carousel2.jpg 3500w" alt="Carousel Image 2"
                            sizes="(min-width: 10em) 100vw, 1000px" 
                            src="/img/carousel2.jpg">
                    </div>
                    <div class="carousel-cell">
                        <img srcset="/img/carousel3-small.jpg 1000w, /img/carousel3.jpg 3500w" alt="Carousel Image 3"
                            sizes="(min-width: 10em) 100vw, 1000px" 
                            src="/img/carousel3.jpg">
                    </div>
                </div>

                <div class="jumbotron__overlay">
                    <div class="jumbotron__text container">
                        <div class="jumbotron__header header1">
                            Ridolfi Residence
                        </div>
                        <div class="jumbotron__header-2 header2">
                            Una scelta di classe
                        </div>
                    </div>
                </div>
            </section>

            <section class="history container">
                <div class="history__header">
                    <h6 class="history__header6 header6">Su di noi</h6>
                    <h3 class="header3">La storia del Residence</h3>
                    <p class="history__text header4">
                    Due regioni si fondono in un unico mondo nel paesaggio che si può godere da qui ed i due appartamenti, chiamati Raffaello e Leonardo, in ricordo di un passato fulgido e straordinario, sono stati restaurati nel massimo rispetto dei materiali e delle tradizioni locali.
                                        L'eccellente posizione geografica del Residence Ridolfi permette ai nostri ospiti di visitare facilmente luoghi storici e bellissimi.</p>
                </div>

                <div class="history__places">

                    <a href="/ita/residence" class="history__place">
                        <img data-src="/img/residence.jpg" data-srcset="/img/residence-small.jpg 750w, /img/residence.jpg 1200w" alt="Lazy img"
                            sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px"/>
                        <div class="history__place__header header6">
                            Il residence
                        </div>
                        <div class="history__place__title header3">
                            Ridolfi
                        </div>
                        <p class="history__place__text header6">
                            Il Residence, un possedimento della Chiesa fino al 1860, acquisito dalla famiglia Ridolfi, divenne una casa colonica e oggi è un luogo di riposo e serenità per coloro che vogliono rilassare la mente e gli occhi.
                        </p>
                    </a>

                    <a href="/ita/rooms" class="history__place">
                        <img data-src="/img/room1.jpg" data-srcset="/img/room1-small.jpg 750w, /img/room1.jpg 1200w" alt="Lazy img"
                            sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px"/>
                        <div class="history__place__header header6">
                            Le stanze
                        </div>
                        <div class="history__place__title header3">
                            Raffaello
                        </div>
                        <p class="history__place__text header6">
                        Raffaello, nome dovuto al grande pittore del Rinascimento, è una casa su due livelli con quattro posti letto e accesso diretto al giardino.
                        </p>
                    </a>

                    <a href="/ita/rooms" class="history__place">
                        <img data-src="/img/room2.jpg" data-srcset="/img/room2-small.jpg 750w, /img/room2.jpg 1200w" alt="Lazy img"
                             sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px"/>
                        <div class="history__place__header header6">
                            Le stanze
                        </div>
                        <div class="history__place__title header3">
                            Leonardo
                        </div>
                        <p class="history__place__text header6">   
                            Leonardo, che deve il suo nome al più grande genio del mondo, è una casa su un unico livello a cui si accede da un'ampia scala e ha otto posti letto.
                        </p>
                    </a>
                </div>
            </section>

            <section class="parallax parallax-index">
                <div class="parallax-index__text container">
                    <h2 class="header2 parallax-index__text">
                        "Il mare è senza strade, il mare è senza spiegazioni."<br>Alessandro Baricco
                    </h2>
                </div>
            </section>

            <section class="history container">
                <div class="history__header">
                    <h3 class="header3">Nei dintorni</h3>
                    <p class="history__text header4">
                    La nostra fortunata posizione consente ai nostri ospiti di godere facilmente delle bellezze di tre regioni, dai gioielli di Napoli ad altre gemme di arte e cultura facilmente accessibili.</p>
                </div>

                <div class="history__places">
                    <a href="/ita/surroundings" class="history__place history__place-around">
                    <img data-src="/img/surr1.jpg" data-srcset="/img/surr1-small.jpg 750w, /img/surr1.jpg 1200w" alt="Lazy img"
                            sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px"/>
                        <div class="history__place__title header3">
                            Napoli
                        </div>
                    </a>   
                    <a href="/ita/surroundings" class="history__place history__place-around">
                    <img data-src="/img/surr2.jpg" data-srcset="/img/surr2-small.jpg 750w, /img/surr2.jpg 1200w" alt="Lazy img"
                            sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px"/>
                        <div class="history__place__title header3">
                            Amalfi
                        </div>
                    </a>   
                    <a href="/ita/surroundings" class="history__place history__place-around">
                        <img data-src="/img/surr3.jpg" data-srcset="/img/surr3-small.jpg 750w, /img/surr3.jpg 1200w" alt="Lazy img"
                            sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px"/>
                        <div class="history__place__title header3">
                            Capri
                        </div>
                    </a> 
                    <a href="/ita/surroundings" class="history__place history__place-around">
                        <img data-src="/img/surr4.jpg" data-srcset="/img/surr4-small.jpg 750w, /img/surr4.jpg 1200w" alt="Lazy img"
                            sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px"/>
                        <div class="history__place__title header3">
                            Posillipo
                        </div>
                    </a> 
                    <a href="/ita/surroundings" class="history__place history__place-around">
                        <img data-src="/img/surr5.jpg" data-srcset="/img/surr5-small.jpg 750w, /img/surr5.jpg 1200w" alt="Lazy img"
                            sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px"/>
                        <div class="history__place__title header3">
                            Caserta
                        </div>
                    </a> 
                    <a href="/ita/surroundings" class="history__place history__place-around">
                        <img data-src="/img/surr6.jpg" data-srcset="/img/surr6-small.jpg 750w, /img/surr6.jpg 1200w" alt="Lazy img"
                            sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px"/>
                        <div class="history__place__title header3">
                            Pompei
                        </div>
                    </a>                                                                                                                     
                </div>
            </section>

            <section class="cta container">
                <div class="cta__content">
                    <div class="header4 cta__header">
                        Contattaci per ulteriori informazioni
                    </div>
                    <div class="cta__link">
                        <a href="/ita/contacts" class="link link-rotate link-rotate-black cta__text">
                            <span>C</span>
                            <span>O</span>
                            <span>N</span>
                            <span>T</span>
                            <span>A</span>
                            <span>T</span>
                            <span>T</span>
                            <span>I</span>
                        </a> 
                    </div>
                </div>
            </section>

       </main>

<% include partials/footer %>