<% include partials/header %>

<main>
<section class="jumbotron jumbotron-residence container">
    <div class="main-carousel residence-carousel" data-flickity='{ "autoPlay": 5500, "draggable": false , "wrapAround": true }'>
        <div class="carousel-cell">
            <img srcset="../../img/residence1-small.jpg 1000w, ../../img/residence1.jpg 2000w" alt="Residence Carousel Image 1"
                sizes="(min-width: 10em) 100vw, 1000px" 
                src="../../img/residence1.jpg">
        </div>
        <div class="carousel-cell">
            <img srcset="../../img/residence2-small.jpg 1000w, ../../img/residence2.jpg 2000w" alt="Residence Carousel Image 2"
                sizes="(min-width: 10em) 100vw, 1000px" 
                src="../../img/residence2.jpg">
        </div>
        <div class="carousel-cell">
            <img srcset="../../img/residence3-small.jpg 1000w, ../../img/residence3.jpg 2000w" alt="Residence Carousel Image 3"
                sizes="(min-width: 10em) 100vw, 1000px" 
                src="../../img/residence3.jpg">
        </div>
        <div class="carousel-cell">
            <img srcset="../../img/residence4-small.jpg 1000w, ../../img/residence4.jpg 2000w" alt="Residence Carousel Image 4"
                sizes="(min-width: 10em) 100vw, 1000px" 
                src="../../img/residence4.jpg">
        </div>
        <div class="carousel-cell">
            <img srcset="../../img/residence5-small.jpg 1000w, ../../img/residence5.jpg 2000w" alt="Residence Carousel Image 5"
                sizes="(min-width: 10em) 100vw, 1000px" 
                src="../../img/residence5.jpg">
        </div>
        <div class="carousel-cell">
            <img srcset="../../img/residence6-small.jpg 1000w, ../../img/residence6.jpg 2000w" alt="Residence Carousel Image 6"
                sizes="(min-width: 10em) 100vw, 1000px" 
                src="../../img/residence6.jpg">
        </div>
    </div>

    <div class="carousel-nav" data-flickity='{"asNavFor": ".main-carousel", "draggable": true, "contain": true, "pageDots": false, "prevNextButtons": false }'>
        <div class="carousel-cell">
            <img src="../../img/residence1-small.jpg" alt="Nav Carousel Img 1">
        </div>
        <div class="carousel-cell">
            <img src="../../img/residence2-small.jpg" alt="Nav Carousel Img 2">
        </div>
        <div class="carousel-cell">
            <img src="../../img/residence3-small.jpg" alt="Nav Carousel Img 3">
        </div>
        <div class="carousel-cell">
            <img src="../../img/residence4-small.jpg" alt="Nav Carousel Img 4">
        </div>
        <div class="carousel-cell">
            <img src="../../img/residence5-small.jpg" alt="Nav Carousel Img 5">
        </div>
        <div class="carousel-cell">
            <img src="../../img/residence6-small.jpg" alt="Nav Carousel Img 6">
        </div>
    </div>
</section>

<section>
    <div class="history history__header container">
        <h3 class="header3">Il Residence</h3>
        <p class="history__place__text header6">
            In uno dei fianchi delle montagne completamente verdi, troverete il Residence Rifoldi, a 200 metri dalla spiaggia di Napoli e a 1 Km dal centro della città, anche se sembra disti non più di 120 metri, a causa del colpo d'occhio!
            Qui è il luogo di un paesaggio, diverso da tutti gli altri, che combina in modo assai singolare il verde dei boschi e delle montagne con il blu del mare e del cielo. Si trova sul lato ovest della bellissima e maestosa spiaggia di Napoli.</p>
    </div>
</section>

</main>

<% include partials/footer %>