<% include partials/header %>

<main>
<section class="jumbotron jumbotron-residence container">
    <div class="grid--rooms">
        <div class="main-carousel residence-carousel" data-flickity='{ "wrapAround": true, "autoPlay": 5500, "draggable": false  }'>
            <div class="carousel-cell">
                <img srcset="../../img/rooms1-small.jpg 1000w, ../../img/rooms1.jpg 2000w" alt="Rooms Carousel Image 1"
                    sizes="(min-width: 10em) 100vw, 1000px" 
                    src="../../img/rooms1.jpg">
            </div>
            <div class="carousel-cell">
                <img srcset="../../img/rooms2-small.jpg 1000w, ../../img/rooms2.jpg 2000w" alt="Rooms Carousel Image 2"
                    sizes="(min-width: 10em) 100vw, 1000px" 
                    src="../../img/rooms2.jpg">
            </div>
            <div class="carousel-cell">
                <img srcset="../../img/rooms3-small.jpg 1000w, ../../img/rooms3.jpg 2000w" alt="Rooms Carousel Image 3"
                    sizes="(min-width: 10em) 100vw, 1000px" 
                    src="../../img/rooms3.jpg">
            </div>
            <div class="carousel-cell">
                <img srcset="../../img/rooms4-small.jpg 1000w, ../../img/rooms4.jpg 2000w" alt="Rooms Carousel Image 4"
                    sizes="(min-width: 10em) 100vw, 1000px" 
                    src="../../img/rooms4.jpg">
            </div>
            <div class="carousel-cell">
                <img srcset="../../img/rooms5-small.jpg 1000w, ../../img/rooms5.jpg 2000w" alt="Rooms Carousel Image 5"
                    sizes="(min-width: 10em) 100vw, 1000px" 
                    src="../../img/rooms5.jpg">
            </div>
        </div>

        <div class="history">
            <h3 class="header3">Le stanze</h3>
            <p class="history__place__text header6">Oggi i Ridolfi conservano molti appartamenti. Tutti loro hanno una meravigliosa vista sul mare, sulle montagne e sulle spiagge dal balcone privato. Inoltre, le camere dispongono di bagno privato, cucina completamente attrezzata, frigorifero, piastra elettrica, aria condizionata, cassaforte e telefono.</p>
            <h4 class="header4 history__place__text">Servizi</h4>
            <p class="history__place__text header6">Parcheggio gratuito<br>WiFi libero nelle aree comuni<br>Lavanderia<br>Noleggio moto ed auto<br>Escursioni – visite guidate<br>Servizio sveglia</p>
        </div>
    </div>  
</section>

<section class="parallax parallax--pet parallax-index">
    <div class="parallax-index__text container">
        <h2 class="header2 parallax-index__text">
            - Animali ammessi -<br>Vorremmo cortesemente conoscere in anticipo la presenza dei vostri piccoli amici
        </h2>
    </div>
</section>       

<section class="container">
    <div class="history">
        <h3 class="header3">I nostri prezzi</h3>
        <h6 class="history__place__text header6" style="color: firebrick">Di solito gli affitti sono intesi da Domenica a Domenica.<br>Per soggiorni più brevi o più lunghi Vi preghiamo di contattarci</h6>
    </div>
    <div class="grid--prices">
        <div class="grid--prices__price">
            <h3 class="grid--prices__price__header header1">BASSA STAGIONE</h3>
            <h3 class="grid--prices__price__text header6">Gennaio - Febbraio - Marzo - Aprile</h3>
            <h3 class="grid--prices__price__text header6">Novembre - Dicembre</h3>
            <h3 class="grid--prices__price__cost header2"><span style="color: black">€</span>700</h3>
        </div>
        <div class="grid--prices__price">
            <h3 class="grid--prices__price__header header1">MEZZA STAGIONE</h3>
            <h3 class="grid--prices__price__text header6">Maggio</h3>
            <h3 class="grid--prices__price__text header6">Settembre - Ottobre</h3>
            <h3 class="grid--prices__price__cost header2"><span style="color: black">€</span>1000</h3>
        </div>
        <div class="grid--prices__price">
            <h3 class="grid--prices__price__header header1">ALTA STAGIONE</h3>
            <h3 class="grid--prices__price__text header6">GIUGNO</h3>
            <h3 class="grid--prices__price__text header6">LUGLIO - AGOSTO</h3>
            <h3 class="grid--prices__price__cost header2"><span style="color: black">€</span>1300</h3>
        </div>
    </div>
</section>

<section class="cta container">
    <div class="cta__content">
        <div class="header4 cta__header">
            Contattateci per ulteriori informazioni
        </div>
        <div class="cta__link">
            <a href="/ita/contacts" class="link link-rotate link-rotate-black cta__text">
                <span>C</span>
                <span>O</span>
                <span>N</span>
                <span>T</span>
                <span>A</span>
                <span>T</span>
                <span>T</span>
                <span>I</span>
            </a> 
        </div>
    </div>
</section>
</main>

<% include partials/footer %>