<% include partials/header %>

<main>
            <section class="surr__article container">
                <h3 class="surr__header header3">
                    Nei dintorni
                </h3>
                <p class="surr__text header4"> 
                    La nostra fortunata posizione permette ai nostri ospiti di godere facilmente delle bellezze della regione di Napoli, dalle meravigliose coste di Amalfi ad altre gemme di arte e cultura facilmente accessibili.
                </p>
            </section>
            
            <section class="history__places surr__places container">
                <div class="history__place surr__place">
                    <img data-src="/img/surr1.jpg" data-srcset="/img/surr1-small.jpg 750w, /img/surr1.jpg 1200w" alt="Surroundings Image 1"
                        sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px"/>
                    <div class="history__place__title header3">
                        Napoli
                    </div>
                    <p class="history__place__text header6">
                        I napoletani sono affezionati alla loro città natale, e con buone ragioni. Al di là degli stanchi cliché - pizza, mafia e scippatori - è una città calda, vitale e bellissima. Chiese, palazzi e castelli dal suo periodo di massimo splendore come capitale del regno borbonico di Napoli si mescolano con gallerie, musei e siti archeologici di livello mondiale.
                        Perdetevi presso l'alto dalle strette viuzze del centro storico e della città di mare, immergetevi in tutte le sfumature dei toni della terra e delle palme all'ombra del cupo Vesuvio, con il Golfo di Napoli a portata di mano.
                    </p>
                    <div class="cta__link">
                        <a href="#" target="_blank" class="link link-rotate link-rotate-black cta__text surr__btn">
                            <span>I</span>
                            <span>N</span>
                            <span>F</span>
                            <span>O</span>
                        </a> 
                    </div>
                </div>
                <div class="history__place surr__place">
                    <img data-src="/img/surr2.jpg" data-srcset="/img/surr2-small.jpg 750w, /img/surr2.jpg 1200w" alt="Surroundings Image 2"
                        sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px"/>
                    <div class="history__place__title header3">
                        Amalfi
                    </div>
                    <p class="history__place__text header6">
                    La Costiera Amalfitana è una delle zone più belle e storicamente significative d'Italia. L'area comprende la costa meridionale della penisola sorrentina a sud di Napoli e parte della provincia di Salerno. Nella costa settentrionale troviamo la città di Sorrento, da cui prende il nome la penisola, e lungo la costa meridionale troviamo le principali città della regione: Positano, Ravello, Atrani e Amalfi. L'isola di Capri, situata nelle vicinanze del Golfo di Napoli, è anche considerata parte della Costiera Amalfitana.
                    </p>
                    <div class="cta__link">
                        <a href="#" target="_blank" class="link link-rotate link-rotate-black cta__text surr__btn">
                            <span>I</span>
                            <span>N</span>
                            <span>F</span>
                            <span>O</span>
                        </a> 
                    </div>
                </div>
                <div class="history__place surr__place">
                    <img data-src="/img/surr3.jpg" data-srcset="/img/surr3-small.jpg 750w, /img/surr3.jpg 1200w" alt="Surroundings Image 3"
                        sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px"/>
                    <div class="history__place__title header3">
                        Capri
                    </div>
                    <p class="history__place__text header6">      
                        L'isola di Capri è famosa per le sue vacanze di classe. È un'isola di miti, che si fa attraversare da ammalianti sirene, antiche orge romane, viste sul mare da sogno, celebrità degli anni Cinquanta in grandi occhiali da sole e pigre serate estive trascorse a curiosare in boutique esclusive a fianco dell'élite mondiale. Capri è un'isola dai molti contrasti. Per gli escursionisti di fretta, è un labirinto affollato di boutique costose. Per le celebrità e gli ultra-ricchi, un punto di incontro. Per gli storici, è il palazzo-isola dell'imperatore Tiberio, costellato di resti romani purtroppo trascurati. Gli escursionisti possono uscire per brevi passeggiate panoramiche. Per i vacanzieri può presentare tutto questo e altro, insieme a sconcertanti viste e mare blu e blu. È una destinazione da sogno per la luna di miele.
                    </p>
                    <div class="cta__link">
                        <a href="#" target="_blank" class="link link-rotate link-rotate-black cta__text surr__btn">
                            <span>I</span>
                            <span>N</span>
                            <span>F</span>
                            <span>O</span>
                        </a> 
                    </div>
                </div>
                <div class="history__place surr__place">
                    <img data-src="/img/surr4.jpg" data-srcset="/img/surr4-small.jpg 750w, /img/surr4.jpg 1200w" alt="Surroundings Image 4"
                        sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px"/>
                    <div class="history__place__title header3">
                        Posillipo
                    </div>
                    <p class="history__place__text header6">
                        Posillipo è un quartiere residenziale di Napoli, situato lungo la costa settentrionale del Golfo partenopeo; si chiama Pusilleco in lingua napoletana. A partire dal I secolo aC, il Golfo di Napoli fu testimone dell'ascesa di ville costruite dai romani d'élite lungo i punti più panoramici della costa, che avevano scelto la zona come luogo di vacanza preferito. I resti di alcune ville possono essere viste oggi nel parco archeologico ed altrove. Le case direttamente sul mare hanno piccoli moli o approdi, e ci sono anche alcune piccole insenature con dighe lungo il percorso. Questi piccoli porti sono nuclei di comunità separate, chiamate Gaiola e Marechiaro, con la caratteristica "Grande roccia".
                    </p>
                    <div class="cta__link">
                        <a href="#" target="_blank" class="link link-rotate link-rotate-black cta__text surr__btn">
                            <span>I</span>
                            <span>N</span>
                            <span>F</span>
                            <span>O</span>
                        </a> 
                    </div>
                </div>
                <div class="history__place surr__place">
                    <img data-src="/img/surr5.jpg" data-srcset="/img/surr5-small.jpg 750w, /img/surr5.jpg 1200w" alt="Surroundings Image 5"
                        sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px"/>
                    <div class="history__place__title header3">
                        Caserta
                    </div>
                    <p class="history__place__text header6">   
                        La Reggia di Caserta è un'antica residenza reale a Caserta, costruita per i re borbonici di Napoli. È uno dei più grandi palazzi eretti in Europa nel XVIII secolo. Nel 1997, il palazzo è stato designato patrimonio mondiale dell'UNESCO; la sua nomination l'ha definita "il canto del cigno dell'arte spettacolare del barocco, da cui ha adottato tutte le caratteristiche necessarie per creare le illusioni dello spazio multidirezionale". In termini di volume, la Reggia di Caserta è la più grande residenza reale del mondo con oltre 2 milioni di m³ e copre un'area di circa 235.000 m².
                    </p>
                    <div class="cta__link">
                        <a href="#" target="_blank" class="link link-rotate link-rotate-black cta__text surr__btn">
                            <span>I</span>
                            <span>N</span>
                            <span>F</span>
                            <span>O</span>
                        </a> 
                    </div>
                </div>
                <div class="history__place surr__place">
                    <img data-src="/img/surr6.jpg" data-srcset="/img/surr6-small.jpg 750w, /img/surr6.jpg 1200w" alt="Surroundings Image 6"
                        sizes="(max-width: 37.5em) 100vw, (min-width: 37.6em) 29vw, 350px"/>
                    <div class="history__place__title header3">
                        Pompei
                    </div>
                    <p class="history__place__text header6">
                        Pompei era un'antica città romana vicino alla moderna Napoli, nel territorio del comune di Pompei. Pompei, insieme a Ercolano e molte ville nella zona circostante, fu per lo più distrutta e sepolta sotto 4-6 m di cenere vulcanica e pomice nell'eruzione del Vesuvio nel 79 d.C. Pompei è stata una destinazione turistica per oltre 250 anni. Oggi ha lo status di sito patrimonio mondiale dell'UNESCO ed è una delle attrazioni turistiche più popolari in Italia, con circa 2,5 milioni di visitatori ogni anno.
                    </p>
                    <div class="cta__link">
                        <a href="#" target="_blank" class="link link-rotate link-rotate-black cta__text surr__btn">
                            <span>I</span>
                            <span>N</span>
                            <span>F</span>
                            <span>O</span>
                        </a> 
                    </div>
                </div>
            </section>
       </main>

<% include partials/footer %>